PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hotftp_api
DATABASE_SSL=false
API_DEMO_EMAIL=__SET_IN_RENDER__
API_DEMO_PASSWORD=__SET_IN_RENDER__
API_DEMO_DISPLAY_NAME=__SET_IN_RENDER__
FTP_HOST=__SET_IN_RENDER__
FTP_PORT=21
FTP_USER=__SET_IN_RENDER__
FTP_PASSWORD=__SET_IN_RENDER__
FTP_SECURE=false

